<!DOCTYPE html>
<html>
    <body>
        <%- include header %>
        <%- include login %>
        <!--页面body部分-->
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="well">
                        <h5>全在这里。。。</h5>
                        <hr>
                        <div class="text">
                            <a class="pull-left" href="#">
                                <img class="img-rounded" style="width: 26px;height: 26px;" src="http://avatar.youqu.de/16106.1404026495.jpg">
                            </a>
                            <div class="" style="line-height: 26px; padding-left: 50px;">
                                <a href="#">我一直都在。。。。。。</a>
                                <div>
                                    <span style="font-size: 12px;color: #949494;">9分钟前</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text">
                            <a class="pull-left" href="#">
                                <img class="img-rounded" style="width: 26px;height: 26px;" src="http://avatar.youqu.de/16106.1404026495.jpg">
                            </a>
                            <div class="" style="line-height: 26px; padding-left: 50px;">
                                <a href="#">我一直都在。。。。。。</a>
                                <div>
                                    <span style="font-size: 12px;color: #949494;">9分钟前</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="well">
                        222
                    </div>
                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; Company 2013</p>
            </footer>
        </div>
    </body>
</html>
