<!DOCTYPE html>
<html>
<body>
<%- include header %>
<%- include login %>
<!--页面body部分-->
<div class="container">
    <div class="row">
        <div class="span9">
            <div class="well">
                <strong>标签列表</strong>
                <hr>
                <p>
                    <a href="#tag" class="item_tag item_tag_add" style="margin-top: 6px;">搞怪</a>
                    <a href="#tag" class="item_tag item_tag_add" style="margin-top: 6px;">搞怪</a>
                    <a href="#tag" class="item_tag item_tag_add" style="margin-top: 6px;">搞怪</a>
                    <a href="#tag" class="item_tag item_tag_add" style="margin-top: 6px;">搞怪</a>
                    <a href="#tag" class="item_tag item_tag_add" style="margin-top: 6px;">搞怪</a>
                    <a href="#tag" class="item_tag item_tag_add" style="margin-top: 6px;">搞怪</a>
                </p>
            </div>
        </div>
        <%- include slider %>
    </div>
    <%- include footer %>
</div>
</body>
</html>

