<!DOCTYPE html>
<html>
<body>
<%- include header %>
<%- include login %>
<script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script>
<script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
<link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />

<!--页面body部分-->
<div class="container">
    <div class="row">
        <div class="span9">
            <div class="well">
                <strong>发布话题</strong>
                <hr>
                <form class="form-horizontal" action="/topic/new" method="post">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">标题</label>
                        <div class="controls">
                            <input type="text" name="title" required minlength="4" maxlength="24" placeholder="请输入标题">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">内容</label>
                        <div class="controls">
                            <textarea name="content" required cols="70" rows="10"></textarea>
                        </div>
                    </div>
                    <!-- <div class="control-group">
                        <label class="control-label" for="inputEmail">内容</label>
                        <div class="controls">
                            <textarea id="editor" name="content" required></textarea>
                        </div>
                    </div> -->
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">标签</label>
                        <div class="controls">
                            <input type="text" name="tag" minlength="2" maxlength="10" placeholder="请输入标签">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <%- include slider %>
    </div>
    <%- include footer %>
</div>
</body>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
<script type="text/javascript">
    (function($) {
        $('#editor').load('/components/markdown.md',
            function(data) {
                var editor = new Editor();
                editor.render();
            }
        );
    })(Zepto);
</script>
</html>

