<div class="span3">
    <div class="well">
        <p class="text-center">
            <a href="/user/<%=user._id%>">
                <img src="http://feivorid.com/Upload/photo/53a299afb6b39.jpg" class="img-circle">
            </a>
        </p>
        <p class="text-center">
            <a href="/user/<%=user._id%>"><%=user.nickname%></a>
        </p>
        <p class="text-center">
            <%
                if(user.intro != undefined) {
            %>
            <%=user.intro%>
            <%
                }
            %>
        </p>
    </div>
</div>