<div class="span3">
    <div class="well">
        <p class="text-center">
            <a href="/user/<%=user._id%>">
                <img src="http://images-fast.digu365.com/sp/width/236/3d3a565ed7f11a3e7a5fb37a5be7264c_0001.jpg" class="img-circle">
            </a>
        </p>
        <p class="text-center">
            <a href="/user/<%=user._id%>"><%=user.nickname%></a>
        </p>
        <p class="text-center">
            <%
                if(user.intro != undefined) {
            %>
            <%=user.intro%>
            <%
                }
            %>
        </p>
    </div>
</div>